# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
venv/
*.env
*.DS_Store
*.log
*.pot
*.py[cod]

# Django specific
*.sqlite3
*.pyc
*.pyo
media/
staticfiles/

# Node / React
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
